.formBubble {
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-radius: 25px;
    background-color: var(--ternary);
}

table {
    width: 100%;
}

th, td {
    padding: 0.5rem;
    width: 50%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .homeBody {
        width: 90%;
    }

    .formBubble > form > tr > td > input {
        width: 25%;
    }
}